.elementor-61 .elementor-element.elementor-element-40dbe78>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-3635ee2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-6127abe>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-e35ad43 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-c7b6a4e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-94e1639 .icon-card .icon i {
    color: #FF7F63 !important;
}

.elementor-61 .elementor-element.elementor-element-94e1639 .icon-card .icon {
    background: #FFE2DA !important;
}

.elementor-61 .elementor-element.elementor-element-b7d0a5d:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-b7d0a5d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #5F54D3;
}

.elementor-61 .elementor-element.elementor-element-b7d0a5d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-61 .elementor-element.elementor-element-b7d0a5d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-5ce6eb3 .section-title.heading .title,
.content.style-3 .title {
    color: #FFFFFF !important;
}

.elementor-61 .elementor-element.elementor-element-5ce6eb3 .section-title.heading .desc,
.content.style-3 .desc {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-67de9ac>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-f5ee07e .single-item .content h2 {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-f5ee07e .single-item .content p {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-09e8ef4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-19ae188 .single-item .content h2 {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-19ae188 .single-item .content p {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-37b4f0d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-fc801d1 .single-item .content h2 {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-fc801d1 .single-item .content p {
    color: #FFFFFF;
}

.elementor-61 .elementor-element.elementor-element-fa81d4a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-07ba4dc:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-07ba4dc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://augmit.boomdevstheme.com/wp-content/uploads/2023/11/bg-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-61 .elementor-element.elementor-element-07ba4dc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-07ba4dc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-d2c1be4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-9eb6d83>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-61 .elementor-element.elementor-element-1b4db9b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-be57a5b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-df313c1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-bfe291b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-0447ea5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-1e052e7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-d803ad3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-eb24831 .process-step .icon-wrapper .icon {
    background: #FFCEC2 !important;
}

.elementor-61 .elementor-element.elementor-element-c301e71>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-fc368de .process-step .icon-wrapper .icon {
    background: #FFE597 !important;
}

.elementor-61 .elementor-element.elementor-element-090488d:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-090488d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-61 .elementor-element.elementor-element-090488d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-090488d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-c0ab9b9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-0a1230d>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-61 .elementor-element.elementor-element-2f08969 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-2f08969>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-c786ee6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-a2cf489>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-61 .elementor-element.elementor-element-0ef5221 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-2efff53>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-ce02662>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-063806b:not(.elementor-motion-effects-element-type-background),
.elementor-61 .elementor-element.elementor-element-063806b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F0FF;
}

.elementor-61 .elementor-element.elementor-element-063806b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-063806b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-d204cb9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 120px 0px;
}

.elementor-61 .elementor-element.elementor-element-d204cb9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61 .elementor-element.elementor-element-8a0346e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-02a1f8b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

@media(min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-80e9d17 {
        width: 50%;
    }
    .elementor-61 .elementor-element.elementor-element-6127abe {
        width: 50%;
    }
    .elementor-61 .elementor-element.elementor-element-1a164f8 {
        width: 40%;
    }
    .elementor-61 .elementor-element.elementor-element-bd73dbe {
        width: 60%;
    }
    .elementor-61 .elementor-element.elementor-element-1b4db9b {
        width: 50%;
    }
    .elementor-61 .elementor-element.elementor-element-be57a5b {
        width: 50%;
    }
}